<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Doctor | SIPEKA STIS</title>
</head>
<body>
    <div layout:fragment="content"> 
            <div class="title">
              <h2>Edit Doctor</h2>
            </div>
            <br />
            <a th:href="@{/doctor}" class="btn">Back</a>

            <!--Form edit-->
            <div class="form">
              <form th:action="@{/doctor/save}" th:object="${doctor}" method="POST">
                <h3>Edit Doctor Profile</h3>
                <label for="id">ID</label>
                <input type="text" name="id" id="id" placeholder="ID" th:field="*{id}" readonly="readonly" />

                <label for="nama">Name</label>
                <input type="text" placeholder="Nama Lengkap" id="nama" name="name" th:field="*{name}" />

                <input type="hidden" placeholder="Clinic ID" id="clinicid" name="clinicid" th:field="*{clinicid}" />

                <label for="age">Age</label>
                <input type="number" placeholder="Age" id="age" name="age" th:field="*{age}" min="17" max="100" required />

                <label for="specialty">Specialty</label>
                <input type="text" placeholder="Specialty" id="specialty" name="specialty" th:field="*{specialty}" required pattern="[A-Za-z]+" title="String only!" />

                <label for="contact">Phone Number</label>
                <input type="text" placeholder="Phone Number" id="contact" name="contact" th:field="*{contact}" required pattern="62[0-9]+$" title="Diawali dengan 62! Contoh : 628xxxx" />

                <button>Edit</button>
                <br />
              </form>
            </div>
            <!--Akhir form edit-->
    </div>
</body>
</html>