<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/loginstyle.css" />
    <script src="/assets/js/myScript.js"></script>
    <link rel="icon" href="/assets/image/stis.png" type="image/x-icon" />
    <title>Login | SIPEKA STIS</title>
  </head>

  <body>
    <!-- Bagian kontainer -->
    <div id="main" class="container">
      <!-- Bagian header -->
      <div id="my-header" class="header">
        <div class="nav">
          <span><img style="width: 48px" src="/assets/image/stis.png" alt="" /></span>
          <div class="header-title">
            <h1>SIPEKA STIS</h1>
          </div>
        </div>
      </div>
      <!-- Akhir header -->

      <!-- Awal konten -->
      <div class="content">
        <div class="content-2">
          <div class="main-content">
            <div class="form">
              <form th:action="@{/login}" method="POST">
                <h3>SIPEKA STIS</h3>

                <label for="username">Username</label>
                <input type="text" placeholder="Username" id="username" name="username" required />

                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password" name="password" required />

                <button>Login</button>
                <br />
                <br />
                <p>
                  Belum memiliki akun? <br />
                  <br /><a th:href="@{/register}" class="btn">Buat Akun</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Akhir konten -->

      <!-- Bagian footer -->
      <div id="my-footer" class="footer">
        <p>Created By Faqih</p>
        <div class="social-links">
          <a href="mailto:ahmadfaqihp@gmail.com" target="_blank">
            <img src="/assets/image/email.png" alt="Email" />
          </a>
          <a href="https://www.instagram.com/afaqihp/" target="_blank">
            <img src="/assets/image/ig.png" alt="Instagram" />
          </a>
          <a href="https://wa.me/6285273621577" target="_blank">
            <img src="/assets/image/whatsapp.png" alt="Twitter" />
          </a>
        </div>
      </div>
      <!-- Akhir footer -->
    </div>
    <!-- Akhir kontainer -->
  </body>
</html>
