<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/loginstyle.css" />
    <script src="/assets/js/myScript.js"></script>
    <link rel="icon" href="/assets/image/stis.png" type="image/x-icon" />
    <title>Register | SIPEKA STIS</title>
  </head>

  <body>
    <!-- Bagian kontainer -->
    <div id="main" class="container">
      <!-- Bagian header -->
      <div id="my-header" class="header">
        <div class="nav">
          <span><img style="width: 48px" src="/assets/image/stis.png" alt="" /></span>
          <div class="header-title">
            <h1>SIPEKA STIS</h1>
          </div>
        </div>
      </div>
      <!-- Akhir header -->

      <!-- Awal konten -->
      <div class="content">
        <div class="content-2">
          <div class="main-content">
            <div class="form">
              <form th:action="@{/users/addNew}" method="POST">
                <h3>SIPEKA STIS</h3>

                <label for="nama">Nama</label>
                <input type="text" placeholder="Full Name" id="nama" name="fullname" required pattern="[a-zA-Z ]+" title="Alfabet saja!" />

                <label for="username">Username</label>
                <input type="text" placeholder="Username" id="username" name="username" required pattern="[a-zA-Z][a-zA-Z0-9-_]{3,24}" title="Panjang 4 sampai 24 karakter dan gunakan huruf sebagai karakter pertama" />

                <label for="password">Password</label>
                <input
                  type="password"
                  placeholder="Password"
                  id="password"
                  name="password"
                  required
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}"
                  title="Minimal harus memuat satu huruf kapital dan non kapital, panjang minimal 4 karakter"
                />

                <label for="password">Konfirmasi Password</label>
                <input type="password" placeholder="Password" id="confirmPassword" required />

                <button>Buat Akun</button>
                <br />
                <br />
                <p>
                  Sudah memiliki akun? <br />
                  <br /><a th:href="@{/login}" class="btn">Login Akun</a>
                </p>
              </form>
            </div>
            <script src="/assets/js/jquery.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>
            <script src="/assets/js/register.js"></script>
          </div>
        </div>
      </div>
      <!-- Akhir konten -->

      <!-- Bagian footer -->
      <div id="my-footer" class="footer">
        <p>Created By Faqih</p>
        <div class="social-links">
          <a href="mailto:ahmadfaqihp@gmail.com" target="_blank">
            <img src="/assets/image/email.png" alt="Email" />
          </a>
          <a href="https://www.instagram.com/afaqihp/" target="_blank">
            <img src="/assets/image/ig.png" alt="Instagram" />
          </a>
          <a href="https://wa.me/6285273621577" target="_blank">
            <img src="/assets/image/whatsapp.png" alt="Twitter" />
          </a>
        </div>
      </div>
      <!-- Akhir footer -->
    </div>
    <!-- Akhir kontainer -->
  </body>
</html>
